{% extends 'master.html' %}

{% block master %}
<div class="container">
    <div class="row">
        <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
            <div class="col-md-8">

                <div class="d-flex justify-content-between align-items-center">
                        <h2>Editar usuário</h2>
                    <div>
                        <a href="/" class="btn btn-dark btn-sm ds-inline-block">Home</a>
                    </div>
                </div>
                <hr class="mb-5" />

                    {{ message('message') }}

                <form action="/user/update/{{ user.id }}" method="post">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Nome</label>
                        <input type="text" name="name" class="form-control" id="inputName" value="{{ user.name }}">
                        {{ message('name') }}
                    </div>

                    <div class="mb-3">
                        <label for="inputEmail1" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail1" value="{{ user.email }}">
                        {{ message('email') }}
                    </div>

                    <div class="mb-3">
                        <label for="inputTelefone" class="form-label">Telefone</label>
                        <input type="tel" name="phone" class="form-control" id="inputTelefone" value="{{ user.phone }}">
                        {{ message('phone') }}
                    </div>

                    <button type="submit" class="btn btn-dark">Editar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}